@charset "utf-8";

@font-face {
    font-family: 'merriweather_sansbook';
    src: url('/fonts/merriweathersans-light-webfont.eot');
    src: url('/fonts/merriweathersans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/merriweathersans-light-webfont.woff') format('woff'),
         url('/fonts/merriweathersans-light-webfont.ttf') format('truetype'),
         url('/fonts/merriweathersans-light-webfont.svg#merriweather_sansbook') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: "Flaticon";
  src: url("/fonts/flaticon.eot");
  src: url("/fonts/flaticon.eot#iefix") format("embedded-opentype"),
  url("/fonts/flaticon.woff") format("woff"),
  url("/fonts/flaticon.ttf") format("truetype"),
  url("/fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 40px;
  font-style: normal;
}.flaticon-checked11:before {
  content: "\e000";
}
.flaticon-checkmark2:before {
  content: "\e001";
}
.flaticon-tick1:before {
  content: "\e002";
}


body {
  text-align: center;
  font-family: sans-serif; }

.doc {
  font-size: 14px;
  margin: 0; }
  .doc:before,
  .doc:after {
    opacity: .2;
    padding: 6px;
    font-style: normal;
    position: relative;
    content: "•"; }
  .doc a {
    color: rgba(0, 0, 0, 0.3); }
    .doc a:hover {
      color: #666; }

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  color: #9C9C9C;
  font-family: 'merriweather_sansbook';
  font-size: 18px;
}

h1, h2, h3, h6 {
    font-family: 'merriweather_sansbook';
}

.spacer {
  height: 40px;
}

td {
  vertical-align: middle !important;
}

table img {
  height: 80px;
}

table {
  table-layout: fixed;
}

.wider {
  width:150px;
}

th {
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
}

.scroll {
    max-height: 600px;
    overflow: auto;
}

.whitey {
  background-color: #fff;
}

.bottom-table {
  width: 1171px;
  margin-bottom: 0px;
}

a {
  color: #9C9C9C;
  font-family: 'merriweather_sansbook';
  font-size: 16px;
  text-transform: uppercase;
}

a:hover{
  color: #C4C4C4;
  text-decoration: none;
}

.space-inbetween {
  margin: 0 15px 0 15px;
}

/*   ========================================================================== */


@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}