@charset "utf-8";

@font-face {
    font-family: 'league_script_thileaguescript';
    src: url('/fonts/leaguescript-webfont.eot');
    src: url('/fonts/leaguescript-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/leaguescript-webfont.woff') format('woff'),
         url('/fonts/leaguescript-webfont.ttf') format('truetype'),
         url('/fonts/leaguescript-webfont.svg#league_script_thileaguescript') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'merriweather_sansbook';
    src: url('/fonts/merriweathersans-light-webfont.eot');
    src: url('/fonts/merriweathersans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/merriweathersans-light-webfont.woff') format('woff'),
         url('/fonts/merriweathersans-light-webfont.ttf') format('truetype'),
         url('/fonts/merriweathersans-light-webfont.svg#merriweather_sansbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  text-align: center;
  font-family: sans-serif; }

.doc {
  font-size: 14px;
  margin: 0; }
  .doc:before,
  .doc:after {
    opacity: .2;
    padding: 6px;
    font-style: normal;
    position: relative;
    content: "•"; }
  .doc a {
    color: rgba(0, 0, 0, 0.3); }
    .doc a:hover {
      color: #666; }

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1 {
    font-size: 45px;
    font-family: 'league_script_thileaguescript';
    padding-left: 50px;
}

h2 {
    font-size: 40px;
    font-family: 'league_script_thileaguescript';
}

h3 {
  padding-left: 30px;
}

.spacer {
  height: 30px;
}

.whitey {
  background-color: rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.5);
  height: 100%;
  }

.sidebar {
  padding: 30px;
}

h3 {
  font-family: 'merriweather_sansbook';
}

.month {
    background-size: 100% Auto;
    background-repeat:no-repeat;

}

.navbar-fixed-top h1 {
  color: #000;
}
/* ==========================================================================
   Months's custom styles
   ========================================================================== */

.january {
    background-image: url('/images/6871494549_100ee876de_o.jpg');
}
.february {
    background-image: url('/images/6882767129_3fa613ac16_o-febx.jpg');
}
.march {
    background-image: url('/images/6813859947_94f47a86d0_o-feb.jpg');
}
.april {
    background-image: url('/images/8700860829_8fc3473ea8_kx.jpg');
}
.may {
    background-image: url('/images/3259991231_5ddc7376bd_b.jpg');
}
.june {
    background-image: url('/images/7457659076_9be3a830f0_k.jpg');
}
.july {
    background-image: url('/images/3923016387_8495f56d52_o.jpg');
}
.august {
    background-image: url('/images/9434990231_a31aa4461d_k.jpg');
}
.september {
    background-image: url('/images/9965617073_2f9df9b0d4_k.jpg');
}
.october {
    background-image: url('/images/10343718126_8202818b8e_k.jpg');
}
.november {
    background-image: url('/images/4085956318_39a4002d2b_o.jpg');
}
.december {
    background-image: url('/images/6822833235_0422ca0058_o-feb.jpg');
}


@media (max-width: 1000px) { 
  .month {
      background-size: Auto 100%;
    }
   }

/*   ========================================================================== */


@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}