.container
  .row
    %table.table.table-bordered
      %thead
        %tr 
          %th.wider Köögivili
          %th Jaanuar
          %th Veebruar
          %th Märts
          %th Aprill
          %th Mai
          %th Juuni
          %th Juuli
          %th August
          %th September
          %th Oktoober
          %th November
          %th Detsember
      %tbody
        %tr 
          %td 
            =image_tag 'apples.png'
            %br
            ÕUN
          %td 
          %td 
          %td
            %i.flaticon-tick1
          %td 
          %td x
          %td 
          %td 
          %td 
          %td x
          %td 
          %td 
          %td 
        %tr 
          %td 
            =image_tag 'pirn.png'
            %br
            PIRN
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td 
            =image_tag 'ploom.png'
            %br
            PLOOM
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td 
            =image_tag 'kirsid.png', height: '80'
            %br
            KIRSS
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
