- months.each do |k, month|
  .row.month{class: k, id: k}
    .col-md-4.text-left.whitey.sidebar
      %h1
        = month[:name]
      .row.spacer
      %p
        - month[:veggies].each do |vegetable|
          - name = vegetable.keys[0]
          - img = vegetable[vegetable.keys[0]]
          %h3
            = name