.row
  %h3
    Millal on erinevad Eesti puu- ja köögiviljad värskelt saadaval?
.row.spacer
.row.spacer
.container
  .row
    %table.table.table-bordered
      %thead
        %tr 
          %th.wider Köögivili
          %th Jaanuar
          %th Veebruar
          %th Märts
          %th Aprill
          %th Mai
          %th Juuni
          %th Juuli
          %th August
          %th September
          %th Oktoober
          %th November
          %th Detsember
      %tbody
        %tr 
          %td
            =image_tag 'redised.png'
            %br
            REDIS 
          %td 
          %td 
          %td 
          %td 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
        %tr 
          %td
            =image_tag 'rabarber.png'
            %br
            RABARBER 
          %td 
          %td 
          %td 
          %td 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td 
          %td 
          %td 
          %td
        %tr 
          %td 
            =image_tag 'metsmaasikad.png'
            %br
            METSMAASIKAS
          %td 
          %td 
          %td 
          %td 
          %td 
          %td
            %i.flaticon-checkmark2 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td
        %tr 
          %td 
            =image_tag 'maasikas.png'
            %br
            MAASIKAS
          %td 
          %td 
          %td 
          %td 
          %td 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td 
          %td 
          %td 
          %td 
          %td
        %tr 
          %td
            =image_tag 'lehtsalat.png'
            %br
            SALAT 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td
          %td 
          %td 
          %td
        %tr 
          %td
            =image_tag 'kurgid.png'
            %br
            KURK 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td
          %td 
          %td
        %tr 
          %td
            =image_tag 'lillkapsas.png'
            %br
            LILLKAPSAS 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td
            %i.flaticon-checkmark2  
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td
          %td 
          %td
        %tr 
          %td
            =image_tag 'tomat.png'
            %br
            TOMAT 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td
            %i.flaticon-checkmark2  
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td
          %td 
          %td
        %tr 
          %td
            =image_tag 'valge_peakapsas.png'
            %br
            PEAKAPSAS 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td
            %i.flaticon-checkmark2  
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td
          %td
        %tr 
          %td 
            =image_tag 'kirsid.png'
            %br
            KIRSS
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td
          %td 
          %td 
          %td
        %tr 
          %td 
            =image_tag 'red_currants.png'
            %br
            PUNANE SÕSTAR
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td
          %td 
          %td 
          %td
        %tr 
          %td 
            =image_tag 'vaarikad.png'
            %br
            VAARIKAS
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td
          %td 
          %td 
          %td
        %tr 
          %td
            =image_tag 'mustikad.png'
            %br
            MUSTIKAS 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td
          %td 
          %td 
          %td
        %tr 
          %td
            =image_tag 'herned.png'
            %br
            HERNES 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td
          %td 
          %td 
          %td
        %tr 
          %td
            =image_tag 'aedoad.png'
            %br
            AEDUBA 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td
          %td 
          %td 
          %td
        %tr 
          %td
            =image_tag 'garlic.png'
            %br
            KÜÜSLAUK 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td
          %td 
          %td 
          %td
        %tr 
          %td
            =image_tag 'tikrid.png'
            %br
            TIKKER 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td
          %td 
          %td 
          %td
        %tr 
          %td
            =image_tag 'paprika.png'
            %br
            PAPRIKA 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td
          %td 
          %td 
          %td
        %tr 
          %td
            =image_tag 'suvikorvits.png'
            %br
            SUVIKÕRVITS 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td
          %td 
          %td 
          %td
        %tr 
          %td
            =image_tag 'broad_beans.png'
            %br
            PÕLDUBA 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2
          %td 
          %td 
          %td
        %tr 
          %td
            =image_tag 'porgand.png'
            %br
            PORGAND 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2
          %td
            %i.flaticon-checkmark2 
          %td 
          %td 
        %tr 
          %td
            =image_tag 'kartulid.png'
            %br
            KARTUL 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2
          %td
            %i.flaticon-checkmark2 
          %td 
          %td  
        %tr 
          %td
            =image_tag 'metsaseened.png'
            %br
            METSASEENED 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2
          %td
            %i.flaticon-checkmark2 
          %td 
          %td 
        %tr 
          %td 
            =image_tag 'ploom.png'
            %br
            PLOOM
          %td 
          %td 
          %td
          %td 
          %td
          %td 
          %td 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2
          %td 
          %td 
          %td
        %tr 
          %td
            =image_tag 'sibul.png'
            %br
            SIBUL 
          %td 
          %td 
          %td
          %td 
          %td
          %td 
          %td 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2
          %td 
          %td 
          %td 
        %tr 
          %td
            =image_tag 'peet.png'
            %br
            PUNAPEET 
          %td 
          %td 
          %td
          %td 
          %td
          %td 
          %td 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2
          %td 
          %td 
          %td
        %tr 
          %td
            =image_tag 'pumpkin.png'
            %br
            KÕRVITS 
          %td 
          %td 
          %td
          %td 
          %td
          %td 
          %td 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2
          %td 
          %td 
          %td 
        %tr 
          %td
            =image_tag 'cowberry.png'
            %br
            POHL 
          %td 
          %td 
          %td
          %td 
          %td
          %td 
          %td 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2
          %td 
          %td 
          %td
        %tr 
          %td 
            =image_tag 'apples.png'
            %br
            ÕUN
          %td 
          %td 
          %td
          %td 
          %td
          %td 
          %td 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2
          %td 
            %i.flaticon-checkmark2
          %td 
          %td 
        %tr 
          %td 
            =image_tag 'pirn.png'
            %br
            PIRN
          %td 
          %td 
          %td
          %td 
          %td
          %td 
          %td 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2
          %td 
            %i.flaticon-checkmark2
          %td 
          %td   
        %tr 
          %td
            =image_tag 'kaalikas.png'
            %br
            KAALIKAS 
          %td 
          %td 
          %td
          %td 
          %td
          %td 
          %td 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2
          %td
            %i.flaticon-checkmark2 
          %td 
          %td 
        %tr 
          %td
            =image_tag 'porrulauk.png'
            %br
            PORRULAUK 
          %td 
          %td 
          %td
          %td 
          %td
          %td 
          %td 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td 
        %tr 
          %td
            =image_tag 'cranberry.png'
            %br
            JÕHVIKAS 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td 
          %td
            %i.flaticon-checkmark2 
          %td
            %i.flaticon-checkmark2 
          %td 
          %td 
        %tr
          %td
            %nbsp;  
    .navbar-fixed-bottom.whitey
      .container
        %table.table.table-bordered.bottom-table
          %thead
            %tr
              %th.wider Köögivili
              %th Jaanuar
              %th Veebruar
              %th Märts
              %th Aprill
              %th Mai
              %th Juuni
              %th Juuli
              %th August
              %th September
              %th Oktoober
              %th November
              %th Detsember
        .footer
          %h6
            Copyright © Jette Feigenbaum :: Hooajalinetoit.tk
