.row
  .col-md-6.col-md-offset-3
    %h3 MILLEKS
    .spacer
    %p.text-left Miks on hea süüa hooajalist Eestis kasvatatud toitu?
    %ul.text-left
      %li Värskete viljade maitse on parem
      %li Oma loomulikul ajal ja keskkonnas kasvanud viljades on rohkem vitamiine ja muid kasulikke aineid
      %li Süües kohalikku toitu saame vähendada transpordiga seotud kulusid ja õhu saastet.
      %li Ostes kohalikelt tootjatelt edendame Eesti põllumajandust.
      %li Süües hooajalist toitu, oleme looduse rütmidega kooskõlas.
.navbar-fixed-bottom
  .row.spacer
  .footer
    %h6
      Copyright © Jette Feigenbaum :: Hooajalinetoit.tk
