.row
  .col-md-6.col-md-offset-3
    %h3
      TEGIJAD
    .spacer
    %p
      Hooajalinetoit.tk idee ja teostus pärit Jette Feigenbaumilt.
    %p
      Köögi- ja puuviljade kohta väärtuslikku infot jagasid Toivo Varrik Jaagumäe talust, Priit Põldma Eesti Maaülikoolist ja vanaema Nelly.
    %p
      Suur tänu!
.navbar-fixed-bottom
  .row.spacer
  .footer
    %h6
      Copyright © Jette Feigenbaum :: Hooajalinetoit.tk
